.EtteCocktailsContainer {
  @apply flex py-16 bg-[#f2ebe7];

  .aboutEtteCocktails {
    @apply w-2/6 flex flex-col items-center justify-between gap-6 px-8 text-center leading-relaxed;

    .aboutEtteCocktailsTitle {
      @apply text-xl font-semibold tracking-widest;
    }

    .aboutEtteCocktailsDescription {
      @apply text-base font-light tracking-wide;
    }

    button {
      @apply px-4 py-2 text-white text-base bg-[#e1887c] uppercase rounded-lg border border-[#e1887c];
    }
  }

  .cocktailsContainer {
    @apply flex gap-6 pl-16;

    .cocktailContainer {
      @apply text-center cursor-pointer;

      .cocktailImageContainer {
        @apply w-60 h-80;

        img {
          @apply w-full h-full object-cover rounded-lg;
        }
      }

      .cocktailTitle {
        @apply text-base font-semibold tracking-widest mt-4;
      }

      .cocktailRecipeButton {
        @apply uppercase text-xs tracking-widest mt-2 line-through cursor-pointer;
      }
    }
  }
}
